In [62]:
from pyspark.sql import *

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [53]:
jobsSchema = StructType([
    StructField("Job_Role", StringType()),
    StructField("Company", StringType()),
    StructField("Location", StringType()),
    StructField("Job_Experience", StringType()),
    StructField("Skills_&_Description", StringType())
])

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [54]:
# Create DB and use it.
spark.sql("drop database if EXISTS upgrad")
spark.sql("create database upgrad")
spark.sql("use upgrad")
databasesDF = spark.sql("show databases")
databasesDF.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+
|databaseName|
+------------+
|     default|
|      upgrad|
+------------+

In [57]:
# header = true, to it will use the first row in the csv file as the dataframe's column names
jobsDf = spark.read.csv("s3://kaggle-dataset-pyspark/naukri_data_science_jobs_india.csv", jobsSchema)
jobsDf.createOrReplaceTempView("naukri_ds_jobs")
jobsDf.write.mode("overwrite").saveAsTable("naukri_ds_jobs")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [18]:
# SELECT DATA from the naukri_ds_jobs.
all_results = spark.sql("SELECT * from upgrad.naukri_ds_jobs limit 5")
all_results.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+-------+-------------------+--------------+--------------------+
|            Job_Role|Company|           Location|Job_Experience|Skills_&_Description|
+--------------------+-------+-------------------+--------------+--------------------+
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        06-Nov|Scheduling, big d...|
|Staff Data Scientist|Walmart|Bangalore/Bengaluru|        04-Aug|IT Skills, Data S...|
|Data Scientist-Cl...|    IBM|             Mumbai|        05-Oct|Consulting, Machi...|
|Senior Data Scien...|Walmart|Bangalore/Bengaluru|        05-Oct|IT Skills, Testin...|
|Cognitive/AI Seni...|    IBM|Bangalore/Bengaluru|        04-Aug|Automation, Consu...|
+--------------------+-------+-------------------+--------------+--------------------+

In [19]:
# SELECT DATA from the naukri_ds_jobs where company name = "IBM"
ibm_company_results = spark.sql("SELECT * from upgrad.naukri_ds_jobs where company = 'IBM'")
ibm_company_results.show()
print("IBM count is: {}".format(ibm_company_results.count()))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+-------+-------------------+--------------+--------------------+
|            Job_Role|Company|           Location|Job_Experience|Skills_&_Description|
+--------------------+-------+-------------------+--------------+--------------------+
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        06-Nov|Scheduling, big d...|
|Data Scientist-Cl...|    IBM|             Mumbai|        05-Oct|Consulting, Machi...|
|Cognitive/AI Seni...|    IBM|Bangalore/Bengaluru|        04-Aug|Automation, Consu...|
|Mid Level Data Sc...|    IBM|          Ahmedabad|        05-Aug|data science, Mac...|
|      Data Scientist|    IBM|       Kochi/Cochin|        04-Aug|Software design, ...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        02-May|Interpersonal ski...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Data migration, M...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Data migration, M...|
|      Data Scientist|    IBM|Bangalore/Bengaluru|        08-Dec|Unix, VMware, Net...|
|      Data Scientist|    IBM|       Kochi/Cochin|        08-Dec|Computer science,...|
|      Data Scientist|    IBM|Bangalore/Bengaluru|        08-Dec|Consulting, Predi...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        04-Aug|IVR, Telecommunic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Enterprise applic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        04-Aug|IVR, Telecommunic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Enterprise applic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Enterprise applic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Enterprise applic...|
|      Data Scientist|    IBM|Bangalore/Bengaluru|        03-Jun|Coding, Debugging...|
|      Data Scientist|    IBM|Bangalore/Bengaluru|        03-Jun|Coding, Debugging...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        05-Oct|Training, advance...|
+--------------------+-------+-------------------+--------------+--------------------+
only showing top 20 rows

IBM count is: 273

In [20]:
# SELECT DATA from the naukri_ds_jobs where company place = "Bangalore"
loc_bang_results = spark.sql("SELECT * from upgrad.naukri_ds_jobs where location like '%Bangalore%'")
print("Total number of companies having presence in Bangalore is: {}".format(loc_bang_results.count()))
ibm_company_results.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Total number of companies having presence in Bangalore is: 4687
+--------------------+-------+-------------------+--------------+--------------------+
|            Job_Role|Company|           Location|Job_Experience|Skills_&_Description|
+--------------------+-------+-------------------+--------------+--------------------+
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        06-Nov|Scheduling, big d...|
|Data Scientist-Cl...|    IBM|             Mumbai|        05-Oct|Consulting, Machi...|
|Cognitive/AI Seni...|    IBM|Bangalore/Bengaluru|        04-Aug|Automation, Consu...|
|Mid Level Data Sc...|    IBM|          Ahmedabad|        05-Aug|data science, Mac...|
|      Data Scientist|    IBM|       Kochi/Cochin|        04-Aug|Software design, ...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        02-May|Interpersonal ski...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Data migration, M...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Data migration, M...|
|      Data Scientist|    IBM|Bangalore/Bengaluru|        08-Dec|Unix, VMware, Net...|
|      Data Scientist|    IBM|       Kochi/Cochin|        08-Dec|Computer science,...|
|      Data Scientist|    IBM|Bangalore/Bengaluru|        08-Dec|Consulting, Predi...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        04-Aug|IVR, Telecommunic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Enterprise applic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        04-Aug|IVR, Telecommunic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Enterprise applic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Enterprise applic...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        03-Jul|Enterprise applic...|
|      Data Scientist|    IBM|Bangalore/Bengaluru|        03-Jun|Coding, Debugging...|
|      Data Scientist|    IBM|Bangalore/Bengaluru|        03-Jun|Coding, Debugging...|
|Data Scientist: A...|    IBM|Bangalore/Bengaluru|        05-Oct|Training, advance...|
+--------------------+-------+-------------------+--------------+--------------------+
only showing top 20 rows

In [28]:
# Split Job_Experience based on delimitter '-'
naukri_df_20 = spark.sql("SELECT * from upgrad.naukri_ds_jobs limit 20")
from pyspark.sql.functions import split 
split_exp_col = split(naukri_df_20['Job_Experience'], '-')
splitted_col_df = naukri_df_20.select("Job_Role", "Job_Role", split_exp_col.getItem(0).alias('Day of Month'), split_exp_col.getItem(1).alias('Month')).show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+--------------------+------------+-----+
|            Job_Role|            Job_Role|Day of Month|Month|
+--------------------+--------------------+------------+-----+
|Data Scientist: A...|Data Scientist: A...|          06|  Nov|
|Staff Data Scientist|Staff Data Scientist|          04|  Aug|
|Data Scientist-Cl...|Data Scientist-Cl...|          05|  Oct|
|Senior Data Scien...|Senior Data Scien...|          05|  Oct|
|Cognitive/AI Seni...|Cognitive/AI Seni...|          04|  Aug|
|Lead - Data Scien...|Lead - Data Scien...|         Oct|   15|
|Sr NLP & Text Min...|Sr NLP & Text Min...|          02|  Jun|
|  Sr. Data Scientist|  Sr. Data Scientist|          05|  Oct|
|Digital-Senior Pr...|Digital-Senior Pr...|         Aug|   13|
|Senior Data Scien...|Senior Data Scien...|          10|  Dec|
|      Data Scientist|      Data Scientist|           0|    3|
|Senior Associate ...|Senior Associate ...|          02|  Apr|
|Data Analyst / Da...|Data Analyst / Da...|          01|  Jun|
|Rolls-Royce Data ...|Rolls-Royce Data ...|          03|  May|
|      Data Scientist|      Data Scientist|          07|  Oct|
|Staff Data Scientist|Staff Data Scientist|          04|  Aug|
|      Data Scientist|      Data Scientist|          01|  May|
|Senior Data Scien...|Senior Data Scien...|          05| Sept|
|Senior Data Scien...|Senior Data Scien...|          05| Sept|
|   Sr Data Scientist|   Sr Data Scientist|          04| Sept|
+--------------------+--------------------+------------+-----+

In [30]:
splitted_array_df = spark.sql("SELECT split(Job_Experience, '-') as Job_Exp_Arr from upgrad.naukri_ds_jobs limit 20").show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+
|Job_Exp_Arr|
+-----------+
|  [06, Nov]|
|  [04, Aug]|
|  [05, Oct]|
|  [05, Oct]|
|  [04, Aug]|
|  [Oct, 15]|
|  [02, Jun]|
|  [05, Oct]|
|  [Aug, 13]|
|  [10, Dec]|
|     [0, 3]|
|  [02, Apr]|
|  [01, Jun]|
|  [03, May]|
|  [07, Oct]|
|  [04, Aug]|
|  [01, May]|
| [05, Sept]|
| [05, Sept]|
| [04, Sept]|
+-----------+

In [32]:
sorted_company_df = spark.sql("SELECT * from upgrad.naukri_ds_jobs order by company desc").show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+--------------------+--------------------+--------------+--------------------+
|            Job_Role|             Company|            Location|Job_Experience|Skills_&_Description|
+--------------------+--------------------+--------------------+--------------+--------------------+
|Software Engineer...|              zeotap| Bangalore/Bengaluru|        02-May|Computer science,...|
|Data Scientist In...|zMed Healthcare T...|  Chennai, Bengaluru|           0-2|Data analysis, Da...|
|      Data Scientist|zCodelabs Softwar...|              Remote|        04-Jul|Artificial Intell...|
|Data Scientist In...| zBliss Technologies|  Chennai, Bengaluru|           0-2|Data analysis, Da...|
|Data Scientist In...| zBliss Technologies|  Chennai, Bengaluru|           0-1|IT Skills, Python...|
|       Data Engineer|xFusion Technologies|             Kolkata|        05-Oct|Java, Data Pipeli...|
|  Lead Data Engineer|             whiz.ai|                Pune|        03-Aug|Nosql, Shell Scri...|
|    Python Developer|             whiz.ai|                Pune|        02-Jun|Java, Software De...|
|Senior Data Engineer|             whiz.ai|                Pune|        06-Oct|Shell Scripting, ...|
|Lead Machine Lear...|             whiz.ai|                Pune|       05-Sept|Data Science, Nlp...|
|   Python Developers|webtrace software...|           Bengaluru|        02-May|security complian...|
|Lead Full Stack D...|             vroutes|Hyderabad/Secunde...|        05-Oct|Css, Full Stack D...|
|Product Owner - A...|            vEnrichU|Hyderabad/Secunde...|         15-20|Data42 Platforms,...|
|      Data Scientist|vDoIT Technologie...|    Gurgaon/Gurugram|        05-Jul|Computer science,...|
|      Senior Analyst|              upGrad|   Mumbai, Bengaluru|        03-Jun|Analytical skills...|
|Immediate Hiring ...|              upGrad| Bangalore/Bengaluru|       04-Sept|SQL Queries, Tabl...|
|       Data Engineer|              upGrad|           Bengaluru|       04-Sept|Computer science,...|
|Urgent Hiring For...|              upGrad|              Mumbai|       04-Sept|Business Intellig...|
|      Data Scientist|torcai digital media|                Pune|        03-Jun|Data analysis, da...|
|Data Science Engi...|thinkbridge Softw...|              Remote|        01-Apr|Natural Language ...|
+--------------------+--------------------+--------------------+--------------+--------------------+
only showing top 20 rows

In [63]:
# list  of employee data
employeeData = [[1, "susmit", "oracle", 60000],
        [2, "Rahul", "microsoft", 60000], 
        [3, "rohith", "Meta", 90000],
        [4, "Aman", "amazon", 80000], 
        [5, "bobby", "Walmart", 40000],
        [6, "Sandeep", "Walmart", 50000],
        [7, "Raju", "oracle", 40000]]

# Create a schema.
employeeSchema = StructType([
    StructField("emp_id", IntegerType()),
    StructField("name", StringType()),
    StructField("company", StringType()),
    StructField("salary", IntegerType()),
])

employeeDF = spark.createDataFrame(employeeData, employeeSchema)
employeeDF.write.mode("overwrite").saveAsTable("employees")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [64]:
employeeResults = spark.sql("select * from employees").show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+-------+---------+------+
|emp_id|   name|  company|salary|
+------+-------+---------+------+
|     4|   Aman|   amazon| 80000|
|     5|  bobby|  Walmart| 40000|
|     6|Sandeep|  Walmart| 50000|
|     7|   Raju|   oracle| 40000|
|     1| susmit|   oracle| 60000|
|     2|  Rahul|microsoft| 60000|
|     3| rohith|     Meta| 90000|
+------+-------+---------+------+

In [70]:
# Write to s3 bucket with partition by company name
employeeMaxSalaryByCompanyDf = spark.sql("select emp.*, max(salary) over (partition by company) as max_salary from employees emp")
employeeMaxSalaryByCompanyDfWriter = DataFrameWriter(employeeMaxSalaryByCompanyDf)
employeeMaxSalaryByCompanyDfWriter.partitionBy('company').saveAsTable('test_table', format='parquet', mode='overwrite', path='s3://kaggle-dataset-pyspark/output_dir/')

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [76]:
# Read data back from s3
employeesDFFromS3 = spark.read.parquet("s3://kaggle-dataset-pyspark/output_dir/")
employeesDFFromS3.createOrReplaceTempView("employeesDFFromS3")
employees = spark.sql("select * from employeesDFFromS3").show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+-------+------+----------+---------+
|emp_id|   name|salary|max_salary|  company|
+------+-------+------+----------+---------+
|     1| susmit| 60000|     60000|   oracle|
|     7|   Raju| 40000|     60000|   oracle|
|     5|  bobby| 40000|     50000|  Walmart|
|     6|Sandeep| 50000|     50000|  Walmart|
|     2|  Rahul| 60000|     60000|microsoft|
|     3| rohith| 90000|     90000|     Meta|
|     4|   Aman| 80000|     80000|   amazon|
+------+-------+------+----------+---------+

In [48]:
# Sort by emp_id asc
employeesortById = spark.sql("select * from employees order by emp_id asc").show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+-------+---------+------+
|emp_id|   name|  company|salary|
+------+-------+---------+------+
|     1| susmit|   oracle| 60000|
|     2|  Rahul|microsoft| 60000|
|     3| rohith|     Meta| 90000|
|     4|   Aman|   amazon| 80000|
|     5|  bobby|  Walmart| 40000|
|     6|Sandeep|  Walmart| 50000|
|     7|   Raju|   oracle| 40000|
+------+-------+---------+------+

In [51]:
# Clean up tasks
spark.sql("drop table if EXISTS upgrad.employees")
spark.sql("drop table if EXISTS upgrad.naukri_ds_jobs")
spark.sql("drop database if EXISTS upgrad")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]